<div class="flex justify-center flex-grow bg-orange-100 py-8">
  <div class="flex flex-col w-[1000px] bg-white shadow-lg rounded-lg my-8 px-8 py-6 gap-6">
    <h1 class="text-slate-900 text-2xl font-bold"><%= t('flight.flights') %></h1>
    <div class="flex flex-col gap-8">
      <% @flights.each do |flight| %>
        <%= render "shared/flight_item", flight: flight %>
      <% end %>
    </div>
    <div class="flex justify-center p-4">
      <%= will_paginate @flights %>
    </div>
  </div>
</div>