<div id="snackbar" class="transition-opacity opacity-100 fixed -translate-x-1/2 top-24 left-1/2 z-10 border py-3 px-4 rounded bg-green-100 text-green-700 border-green-700" >
  <%= snackbar_message %>
</div>